.RecipeListItem {
  .Row {
    display: flex;
    line-height: 40px;
    margin: 0 20px;
    box-shadow: 2px 2px 5px 0 rgba(150, 150, 150, 0.75);
  }

  .Title {
    min-width: 200px;
  }

  .Padding {
    padding-left: 20px;
  }
}
